*{
    margin: 0;
    padding: 0;
}

.hero{
    margin: 0 auto;
    margin-top: 200px;
    border: 2px solid red;
    height: 500px;
    width: 600px;
    display: flex;
}

.div{
    width: 60px;
    height: 60px;
    background-color: blue;
    border: 2px solid green;
}


.col1,
.col2,
.col3{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.col2{
    align-items: center;
    justify-content: center;
}

.col3{
    align-items: flex-end;

}
